{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    * {
      font-family: Verdana;
      color: rgb(70, 70, 255);
      text-align: center; 
      vertical-align: middle;
      background-color: rgb(0, 0, 0);
    }
    td, input {
      text-align: left; 
    }
    h1 {
        font-size: 40px;
    }
    form {
      margin: auto;
      width: 400px;
      padding: 2em;
      border: 2px solid rgb(49, 56, 255);
      border-radius: 1em;
      table-layout:fixed;
      font-size: 20px;
    }
    h2 {
      font-size: 15px; 
    }
    a, a.visited {
      color: rgb(244, 24, 24);
    }
</style>

<div class="login">

    <h1>Login To Do List</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>

            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></h2>

</div>

{% endblock content %}