{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
  * {
    font-family: Marker Felt;
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
  }

  body {
    background-image: url('https://images1.pixlis.com/background-image-checkers-chequered-checkered-squares-seamless-tileable-pink-flare-dark-sea-green-2368gx.png');
  }

  td,
  input {
    text-align: left;
  }

  h1 {
    font-size: 40px;
  }

  form {
    margin: auto;
    width: 400px;
    padding: 2em;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 1em;
    table-layout: fixed;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
  }

  h2 {
    font-size: 15px;
  }

  a,
  a.visited {
    color: rgb(244, 24, 24);
  }
</style>

<body>
  <div class="login">

    <h1>Login To Do List 🧩</h1>

    <form method="POST" action="">
      {% csrf_token %}
      <div class="username">
        <div class="col-xl-2 align-self-center">
            <label class="form-lable" for="user_username">Username:</label>
        </div>
        <div class="col align-self-center">
            <input type="text" name="username" placeholder="Input username" id="user_username" class="form-control">
        </div>
    </div>
    <div class="password">
        <div class="col-xl-2 align-self-center">
            <label class="form-lable" for="user_password">Password:</label>
        </div>
        <div class="col align-self-center">
            <input type="password" name="password" placeholder="Input password" id="user_password" class="form-control">
        </div>
    </div>
    <input type="submit" name="submit" value="Login" class="btn btn-outline-dark mx-auto d-block">
    </form>

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <h2>Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></h2>

  </div>
</body>

{% endblock content %}