{% extends 'base.html' %}

{% block meta %}
<title>Add New Task</title>
{% endblock meta %}

{% block content %}

<style>
    * {
        font-family: Marker Felt;
        color: rgb(0, 0, 0);
        text-align: left;
        vertical-align: text-top;
    }

    body {
        background-image: url('https://images1.pixlis.com/background-image-checkers-chequered-checkered-squares-seamless-tileable-pink-flare-dark-sea-green-2368gx.png');
    }

    h1 {
        text-align: center;
        font-size: 35px;
    }

    form {
        margin: auto;
        width: 400px;
        padding: 1em;
        border: 3px solid rgb(77, 53, 213);
        background-color: rgb(172, 179, 252);
        border-radius: 1em;
        font-size: 17px;
        table-layout: fixed;
    }
</style>

<body>
    <div class="add_new">

        <h1>🌱 Add Task 🌱</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Task Title: </td>
                    <td><input type="text" name="title" placeholder="Title" class="form-control"></td>
                </tr>
                <tr>
                    <td>Description: </td>
                    <td><input type="text" name="description" placeholder="Description" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="submit" /></td>
                </tr>
            </table>
        </form>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
</body>

{% endblock content %}