{% extends 'base.html' %}

{% block content %}

<style>
    * {
        font-family: Verdana;
        color: rgb(214, 255, 90);
        text-align: center;
        vertical-align: middle;
        background-color: rgb(0, 0, 0);
        font-size: 15px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    table {
        margin: auto;
        padding: 1em;
        border: 2px solid rgb(255, 246, 246);
        border-radius: 1em;
        border-collapse: collapse;
        table-layout: fixed;
        width: 80%;
        vertical-align: middle;
    }

    th {
        color: rgb(214, 255, 90);
    }

    a,
    a.visited {
        color: rgb(214, 255, 90);
    }
</style>

<h1>TO DO LIST</h1>
<h2>PBP/PBD Assignment 4</h2>

<h3>☆ Welcome {{user_name}} ☆</h3>

<br />
<table BORDER="1">
    <tr>
        <th>Task Creation Date</th>
        <th>Task Title</th>
        <th>Task Description</th>
        <th>Task Status</th>
        <th>Task Button Status</th>
        <th>Delete Task</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for item in list_kerjaan %}
    <tr>
        <td>{{item.date}}</td>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
        <td>
            {% if item.is_finished %}
            Finished (´⌣`ʃƪ)
            {% else %}
            Not Finished ༼ ༎ຶ ᆺ ༎ຶ༽
            {% endif%}
        </td>
        <td><button><a href="{% url 'todolist:task_changes' item.id %}">Task Status Change</a></button></td>
        <td><button><a href="{% url 'todolist:delete_task' item.id %}">Delete Task</a></button></td>
    </tr>
    {% endfor %}
</table>

<br />
<button><a href="{% url 'todolist:add_todolist' %}">Add New Task</a></button>
<button><a href="{% url 'todolist:logout' %}">Logout</a></button>
<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}